#board {
 display: grid;
 grid-template-columns: repeat(3, 20vh);
 grid-template-rows: repeat(3, 20vh);
 place-content: center;
}


.cell {
    font-size: 20vh;
    border: 1px solid black;
    
}

#board .cell:nth-child(-n+3) {
    border-top:none;
}

#board .cell:nth-child(n+7) {
    border-bottom:none;
}

#board .cell:nth-child(3n+1) {
    border-left: none;
}

#board .cell:nth-child(3n) {
    border-right: none;
}


#reset {
    margin-top: 20px;
}


#main-container {
    text-align: center;
}

@media (max-width: 600px) {
    #board {
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(3, 30vw);
       }
       
       
       .cell {
           border: 1px solid black;
           font-size: 30vw;
           
       }
       
       
}