#board {
 display: grid;
 grid-template-columns: repeat(3, 250px);
 grid-template-rows: repeat(3, 250px);
 place-content: center;
}


.cell {
    border: 1px solid;
    line-height: 250px;
    font-size: 10em;
}

#main-container {
    text-align: center;
}